@font-face {
    font-family: seti;
    src: url(../fonts/seti.woff);
}

body{
  font-family: 'seti', 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
	font-size: 12px;
	font-weight: 100;
  margin:0;
  padding:0 0;
	background: rgb(7%, 7%, 7%);
}
#wrapper{
  width:770px;
  margin:0 0 0 50px;
  clear: both;
  position: relative;
	color: #DEDEDE;
  padding: 30px;
	border-right:4px solid rgb(40, 60, 72);
	border-left:2px solid rgb(40, 60, 72);
	background: rgb(10%, 15%, 18%);
	min-height:calc(100vh - 60px);
}
#wrapper.part2{
  width:550px;
}
#description{
  text-align: center;
  width:770px;
  background: #FFFFFF;
  margin:0 auto 20px;
  padding:20px 10px 10px;
  border-radius: 5px;
  margin-top:-10px;
  box-shadow: 1px 1px 3px #000;
  line-height: 2;
}
#explanation{
  width:220px;
  margin: 0 auto;
}
h1{
	font-size: 1em;
	font-weight: normal;
	color: rgb(29%, 70%, 87%);
}
.glyph{
  float:left;
  position:relative;
}
canvas{
  background: #FFF;
  padding:5px;
  border-radius: 5px;
  border:5px solid #FFF;
  box-shadow: 1px 1px 5px #333;
  margin:5px;
  cursor: pointer;
}
canvas.selected{
  border-color: #13AE38;
}
.glyph:after{
  content: attr(data-selorder);
  display: none;
  position: absolute;
  top:0;
  left:0;
  z-index: 100;
  width:110px;
  height:110px;
  text-align: center;
  line-height: 110px;
  background: rgba(255,255,255,0.7);
}
.glyph.done:after{
  display: block;
}
#continue1{
  display: none;
  clear:both;
  margin:0 auto;
}
#continue2{
  display: none;
  clear:both;
  margin:0 auto;
}
#continue1.show, #continue2.show{
  display: block!important;
}
.clear:after {
  content: "";
  display: table;
  clear: both;
}
#progressbar{
  width:0;
  height:10px;
  top:0;
  left:0;
  position: absolute;
  background: darkolivegreen;
}
#progressbar.full{
  transition: width 15s linear;
  transition-timing-function: linear;
  width:100%;
}
