body{
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
  margin:0;
  padding:20px 0 0;
}
#glyphs{
  width:770px;
  margin:0 auto;
  clear: both;
}
#glyphs.part2{
  width:550px;
}
#explanation{
  width:220px;
  margin: 0 auto;
}
.glyph{
  float:left;
  position:relative;
}
canvas{
  background: #FFF;
  padding:5px;
  border-radius: 5px;
  border:5px solid #FFF;
  box-shadow: 1px 1px 5px #333;
  margin:5px;
  cursor: pointer;
}
canvas.selected{
  border-color: #13AE38;
}
.glyph:after{
  content: attr(data-selorder);
  display: none;
  position: absolute;
  top:0;
  left:0;
  z-index: 100;
  width:110px;
  height:110px;
  text-align: center;
  line-height: 110px;
  background: rgba(255,255,255,0.7);
}
.glyph.done:after{
  display: block;
}
#continue1{
  display: none;
  clear:both;
  margin:0 auto;
}
#continue2{
  display: none;
  clear:both;
  margin:0 auto;
}
#continue1.show, #continue2.show{
  display: block!important;
}
.clear:after {
  content: "";
  display: table;
  clear: both;
}
#progressbar{
  width:0;
  height:10px;
  top:0;
  left:0;
  position: absolute;
  background: darkolivegreen;
}
#progressbar.full{
  transition: width 15s linear;
  transition-timing-function: linear;
  width:100vw;
}